# OpenAI API Configuration
OPENAI_API_KEY=sk-xxx
OPENAI_BASE_URL=https://api.openai.com/v1
MODEL_NAME=gpt-4o-mini

DEEPSEEK_API_KEY=xxx
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

# Embedding model
EMBEDDING_MODEL=text-embedding-3-small

# Tavily Web Search
TAVILY_API_KEY=your_tavily_api_key_here

# Server
HOST=0.0.0.0
PORT=8002
 
# OpenWeather API Configuration 
OPENWEATHER_API_KEY=your_openweather_api_key_here 
